html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	font-family: "Noto Sans Display", sans-serif;
	font-weight: 500;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}
